{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />

    <title>Duplicate Text Checker</title>

  </head>

  <body>
    <div>
      <img src="{% static 'home/images/avatar.png' %}" height="100px" width="100px">
      <div class="row">
        <div class="container">
          <div class="row" style="margin-top: 20px">
            <form action="{% url 'home:result' %}" method="post">
              <h2 id="contact_heading">Paste Your Inputs Here</h2>
              <div style="margin-top: 30px">
                {% csrf_token %}
                <div class="form-group row">
                  <label for="example-email-input" class="col-2 col-form-label">Text 1</label>
                  <div class="col-10">
                    <label>
                      <textarea name='text-1' rows="10" cols="150" class="form-control"></textarea>
                    </label>
                  </div>
                </div>
              </div>
              <div style="margin-top: 30px">

                <div class="form-group row">
                  <label for="example-email-input" class="col-2 col-form-label">Text 2</label>
                  <div class="col-10">
                    <label>
                      <textarea name='text-2' rows="10" cols="150" class="form-control"></textarea>
                    </label>
                  </div>
                </div>
              </div>
              <div class="pull-right">
                <button type="submit" class="btn btn-primary float-right">Submit</button>
              </div>

            </form>

          </div>

        </div>
      </div><!-- row -->

    </div><!-- intro -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>